{% load staticfiles %}
<html>
<head>
    <title>Aaronn Kelly</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
<div class="page-header">
    <h1><a href="/">Aaronn Kelly</a></h1>
</div>
<div class="w3-sidebar w3-bar-block" style="width:15%">
    <div class="col-md-8">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </div>
</div>


<!--Main body container-->
<div class="w3-container" style="margin-left:15%">
    <div class="w3-container">
        <div class="w3-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
